---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-40 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          A truly <span class="text-primary">Shocking</span> experience.
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">
          OpenShock is an open-source platform designed to control various
          shocking devices over the internet, catering to all your masochistic
          needs!
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="https://openshock.app"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Get started</span
            >
          </a>
          <a
            href="https://wiki.openshock.org"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-primary dark:text-white"
              >Learn more</span
            >
          </a>
        </div>
        <div
          class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
        >
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Easy to Use
            </h6>
            <p class="mt-2 text-gray-500">Simple & easy to use web ui</p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Cheap & Easy Do-It-Yourself
            </h6>
            <p class="mt-2 text-gray-500">DIY Guide can be found here</p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Developer API
            </h6>
            <p class="mt-2 text-gray-500">Easy to use HTTP API</p>
          </div>
        </div>
      </div>

      <div
        class="relative mt-[5rem] mx-auto max-w-6xl rounded-lg md:rounded-xl flex flex-col items-center text-center"
      >
        <div
          aria-hidden="true"
          class="absolute inset-0 h-1/4 w-full grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
        >
          <div
            class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
          >
          </div>
          <div
            class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
          >
          </div>
        </div>
        <div class="relative">
          <div
            class="relative inline-flex rounded-lg md:rounded-xl bg-zinc-500/25 overflow-hidden p-px"
            style="width: calc(100% - 5px);"
          >
            <span
              class="absolute inset-[-1000%] animate-[spin_16s_linear_infinite] bg-[conic-gradient(from_225deg_at_50%_50%,_theme(colors.transparent)_0%,_theme(colors.transparent)_92%,_theme(colors.zinc.500)_97%,_theme(colors.transparent)_100%)]"
            ></span><span
              class="absolute inset-[-1000%] animate-[spin_16s_linear_infinite_8s] bg-[conic-gradient(from_225deg_at_50%_50%,_theme(colors.transparent)_0%,_theme(colors.transparent)_92%,_theme(colors.zinc.500)_97%,_theme(colors.transparent)_100%)]"
            ></span>
            <img
              class="rounded-[inherit]"
              style="z-index: 1;"
              src="/images/webui/shockers.webp"
            />
          </div>
        </div>

        <div
          style="z-index: 2;"
          class="absolute inset-0 flex items-center justify-center bg-gradient-to-b from-transparent to-gray-900"
        >
          <a
            href="https://openshock.app"
            target="_blank"
            class="group overflow-hidden rounded-full border border-zinc-500/10 bg-zinc-500/10 shadow-xl backdrop-blur-md transition hover:scale-110"
            ><div
              class="m-4 flex items-center justify-center rounded-full border border-zinc-500/90 bg-gradient-to-b from-zinc-500/50 to-zinc-900/10 p-6 text-primary shadow-xl backdrop-blur-md transition group-hover:scale-105"
            >
              <svg viewBox="0 0 24 24" width="1.2em" height="1.2em"
                ><path
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 7h10v10M7 17L17 7"></path></svg>
            </div></a
          >
        </div>
      </div>

      <div class="mt-14">
        <h2
          class="text-center font-bold text-gray-800 dark:text-white md:text-4xl"
        >
          Popular Integrations
        </h2>
        <p class="mx-auto text-center mt-8 text-gray-700 dark:text-gray-300">
          These are some of the popular game / platform integrations that
          OpenShock supports.
        </p>
        <p class="mx-auto text-center text-sm text-gray-500 dark:text-gray-800">
          Note that these brands / games / platforms are not officially
          affiliated with OpenShock.
        </p>
        <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5">
          <div class="p-4">
            <img
              src="./images/games/VRC_Logo.png"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
          <div class="p-4 grayscale">
            <img
              src="./images/games/CVR-white-small.png"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
          <div
            class="p-4 flex grayscale transition duration-200 hover:grayscale-0"
          >
            <img
              src="./images/games/Minecraft_franchise_logo.svg"
              class="h-9 w-auto m-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
          <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <img
              src="./images/games/twitch_wordmark_extruded_purple.png"
              class="h-12 w-auto mx-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
          <div class="p-4 flex">
            <img
              src="./images/games/discord-logo-white.svg"
              class="h-8 w-auto m-auto"
              loading="lazy"
              alt="client logo"
              width=""
              height=""
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
