---
import Container from "./Container.astro";
---

<div id="webui-hero" class="!mt-[5rem]">
  <Container>
    <div
      class="relative mx-auto max-w-6xl rounded-lg md:rounded-xl flex flex-col items-center text-center"
    >
      <div
        aria-hidden="true"
        class="absolute inset-0 h-1/4 w-full grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
      >
        <div
          class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"
        >
        </div>
        <div
          class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"
        >
        </div>
      </div>
      <div class="relative">
        <div
          class="relative inline-flex rounded-lg md:rounded-xl bg-zinc-500/25 overflow-hidden p-px"
          style="width: calc(100% - 5px);"
        >
          <span
            class="absolute inset-[-1000%] animate-[spin_16s_linear_infinite] bg-[conic-gradient(from_225deg_at_50%_50%,_theme(colors.transparent)_0%,_theme(colors.transparent)_92%,_theme(colors.zinc.500)_97%,_theme(colors.transparent)_100%)]"
          ></span><span
            class="absolute inset-[-1000%] animate-[spin_16s_linear_infinite_8s] bg-[conic-gradient(from_225deg_at_50%_50%,_theme(colors.transparent)_0%,_theme(colors.transparent)_92%,_theme(colors.zinc.500)_97%,_theme(colors.transparent)_100%)]"
          ></span>
          <img
            class="rounded-[inherit]"
            style="z-index: 1;"
            src="/images/webui/shockers.webp"
          />
        </div>
      </div>

      <div
        style="z-index: 2;"
        class="absolute inset-0 flex items-center justify-center bg-gradient-to-b from-transparent to-gray-900"
      >
        <a
          href="https://openshock.app"
          target="_blank"
          class="group overflow-hidden rounded-full border border-zinc-500/10 bg-zinc-500/10 shadow-xl backdrop-blur-md transition hover:scale-110"
          ><div
            class="m-4 flex items-center justify-center rounded-full border border-zinc-500/90 bg-gradient-to-b from-zinc-500/50 to-zinc-900/10 p-6 text-primary shadow-xl backdrop-blur-md transition group-hover:scale-105"
          >
            <svg viewBox="0 0 24 24" width="1.2em" height="1.2em"
              ><path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 7h10v10M7 17L17 7"></path></svg
            >
          </div></a
        >
      </div>
    </div>
  </Container>
</div>
